<p>Detalhes do QRCODE</p>

<div>
 <img src="data:image/png;base64,{{qrcode.qrCodeInBase64}}" />
</div>	
 
<table style="border: 1px solid black;">
  <tr>
    <th style="border: 1px solid black;background: #F0FFF0;">uuid</th>
    <th style="border: 1px solid black;background: #F0FFF0;">conteudo</th>
    <th style="border: 1px solid black;background: #F0FFF0;">tipo</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">{{qrcode.uuid}}</td>
    <td style="border: 1px solid black;"><pre>{{qrcode.content}}</pre></td>    
    <td style="border: 1px solid black;">{{qrcode.type}}</td>    
</table>

<br />
<a *ngIf="jwtToken" [routerLink]="['/qrcode/list']">
  Voltar para a tela de listagem
</a>
<br />
<br />

<div *ngIf="qrcode.fileBase64">
  <p>Imagem:</p>	
  <img src="data:image/png;base64,{{qrcode.fileBase64}}" />
</div>

<div *ngIf="qrcode.filePath">
  <div>Arquivo:</div>
  <a href="#" onclick="return false;" (click)="download(qrcode.filePath)">{{qrcode.filePath.substring(qrcode.filePath.lastIndexOf('/') + 1)}}</a>
</div>

