<p>Detalhes do QRCODE</p>

<div>
 <img src="data:image/png;base64,{{qrcode.qrCodeInBase64}}" />
</div>	
 
<table style="border: 1px solid black;">
  <tr>
    <th style="border: 1px solid black;background: #F0FFF0;">uuid</th>
    <th style="border: 1px solid black;background: #F0FFF0;">conteudo</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">{{qrcode.uuid}}</td>
    <td style="border: 1px solid black;"><pre>{{qrcode.persistentContent}}</pre></td>    
  </tr>
</table>

<a [routerLink]="['/qrcode']">
  Voltar para a tela de listagem
</a>