<p>Meus QRCodes</p>



<div style="padding-top: 10">
 
  <table style="border: 1px solid black;">
    <tr>
      <th style="border: 1px solid black;background: #F0FFF0;">conteudo</th>
      <th style="border: 1px solid black;background: #F0FFF0;">Tipo</th>
      <th style="border: 1px solid black;background: #F0FFF0;">imagem</th>
      <th style="border: 1px solid black;background: #F0FFF0;">&nbsp;</th>
    </tr>
    <tr *ngFor="let qrcode of qrcodes;"  >
      <td style="border: 1px solid black;">
         <a *ngIf="qrcode.dynamic === true" [routerLink]="['/qrcode/' , qrcode.uuid]">{{qrcode.content}}</a>
         <span *ngIf="qrcode.dynamic != true" ><pre>{{qrcode.content}}</pre></span>
      </td>
      <td style="border: 1px solid black;">
        <div>{{qrcode.type}}</div> 
      </td>
      <td style="border: 1px solid black;">
        <img src="data:image/png;base64,{{qrcode.qrCodeInBase64}}" />
      </td>
        <td style="border: 1px solid black;">
        <input type="button" value="Excluir"  (click)="delete(qrcode)" />
      </td>
    </tr>

  </table>
</div>
